@model List<Tickr.TodoReply>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    var indexer = 0;
    var cols = 0;
}
@foreach (var item in Model)
{
    @if (indexer == 0 || indexer % 3 == 0)
    {
        cols = 0;
        @Html.Raw("<div class=\"row\">");
    }

    <div class="col-sm-4 mb-lg-4">
<div class="card">
      <div class="card-body">
        <h5 class="card-title">@item.Description</h5>
          <p class="card-text">We don't have a body just yet, that is an oversight.</p>
          @if (!item.Complete)
          {
              <a href="" class="btn btn-primary" onclick="complete(@item)">Complete</a>
          }
          else
          {
              <p class="text-info">Completed</p>
          }
      </div>
    </div>
            @{
                indexer++;
                cols++;
            }
            
        @if ( cols  == 3)
        {
            @Html.Raw("</div>")
        }
    </div>
    
    <script>

        function complete(item) {
            $.post('/home/complete', item, function(data, status) {

            });
        }

    </script>

}
